{% if page.has_other_pages %}
{% spaceless %}
<div id="paginator">
    <ul>
    {% if page.has_previous %}
        <li class="nav"><a href="{{ path }}?page={{ page.previous_page_number }}{% if get_params %}&{{ get_params }}{% endif %}">&lt;&lt;</a></li>
    {% endif %}

    {% if start_range %}
    {% for x in start_range %}      
        {% ifnotequal x page.number %}
            <li><a href="{{ path }}?page={{ x }}{% if get_params %}&{{ get_params }}{% endif %}">{{ x }}</a></li>
        {% else %}
            <li class="current">{{ x }}</li>
        {% endifnotequal %}
    {% endfor %}
        <li>&hellip;</li>
    {% endif %}

    {% for x in page_range %}
        {% ifnotequal x page.number %}
            <li><a href="{{ path }}?page={{ x }}{% if get_params %}&{{ get_params }}{% endif %}">{{ x }}</a></li>
        {% else %}
            <li class="current">{{ x }}</li>
        {% endifnotequal %}
    {% endfor %}

    {% if end_range %}
    <li>&hellip;</li>
    {% for x in end_range %}
        {% ifnotequal x page.number %}
            <li><a href="{{ path }}?page={{ x }}{% if get_params %}&{{ get_params }}{% endif %}">{{ x }}</a></li>
        {% else %}
            <li class="current">{{ x }}</li>
        {% endifnotequal %}
    {% endfor %}
    {% endif %}

    {% if page.has_next %}
        <li class="nav"><a href="{{ path }}?page={{ page.next_page_number }}{% if get_params %}&{{ get_params }}{% endif %}">&gt;&gt;</a></li>
    {% endif %}
    </ul>
</div>
{% endspaceless %}
{% endif %}
